.header {
    color: #f2e9e4;
    text-align: center;
    background-color: #22223b;
    font-size:40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding:40px;
}

.iconBar{
    background-color: #c9ada7;
    padding:10px;
    border-color:#22223b;
    border-width: 5px;
    border-style: solid;
}

.personalBio {
    color: #f2e9e4;
    text-align: center;
    background-color: #4a4e69;
    font-size:20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding:60px;
}

.imageDiv{
    background-color: #4a4e69;
}

.border{
    height:30px;
    background-color:#c9ada7;
    border-color: #22223b;
    border-width: 5px;
    border-style: solid;
}

.profileImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border-radius: 50%;
    border-style:solid;
}



.fa {
    padding: 20px;
    font-size: 60px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.RightTwoThird{
    float:right;
    width:66.66%;
}

.LeftOneThird{
    float:left;
    width:33.33%;
}

.wrapper{
    border-color:#22223b;
    border-width: 5px;
    border-style: solid;
}