.header {
    color: #deeaee;
    text-align: center;
    background-color: #034f84;
    font-size:40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding:40px;
}

.iconBar{
    background-color: #92a8d1;
    padding:10px;
    border-color:#034f84;
    border-width: 5px;
    border-style: solid;
}

.personalBio {
    color: #034f84;
    text-align: center;
    background-color: #b1cbbb;
    font-size:20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding:60px;
    border-color:#034f84;
    border-width: 5px;
    border-style: solid;
}

.imageDiv{
    border-color:#034f84;
    border-width: 5px;
    border-style: solid;
    background-color: #b1cbbb;
}

.border{
    height:30px;
    background-color:#92a8d1;
    border-color:#034f84;
    border-width: 5px;
    border-style: solid;
}

.profileImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border-radius: 50%;
    border-style:solid;
}



.fa {
    padding: 20px;
    font-size: 60px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

